.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

/* Message.css */
.Message {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: solid black 2px;
  text-align: center;
}

/* VendingMachine.css */
.VendingMachine {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

.VendingMachine h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.VendingMachine h2 {
  font-size: 20px;
  margin: 10px 0;
}

/* Soda.css */
.Soda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Soda img {
  width: 200px;
  margin-bottom: 20px;
}

/* Sardines.css */
.Sardines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Sardines img {
  width: 200px;
  margin-bottom: 20px;
}

/* Chips.css */
.Chips {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Chips img {
  width: 200px;
  margin-bottom: 20px;
}